*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body{
    height: 100%;
    width: 100%;

}
.container{
    height: 600px;
    border: 2px solid rgb(128, 0, 0);
    display: grid;
    row-gap: 20px;
    column-gap: 5px;
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-areas:"hdr hdr hdr hdr " 
                        'sbr main main main'
                        'sbr main main main'
                        'ftr ftr ftr ftr';
    /* grid-template-rows:200px 80px ; */
    /* grid-auto-rows: 150px; */
    /* justify-content: center; */
    /* align-content: center; */
    align-content: center;
    /* padding: 300px; */


}
.box{
    border: 2px solid green;
    padding: 50px;

}
#box-1{
    grid-area: hdr;
    

}
#box-2{
    grid-area: sbr;
    

}
#box-3{
    grid-area: main;
    

}
#box-4{
    grid-area: ftr;

}
#box-5{
    background-color: rgb(228, 100, 8);
    /* justify-self: end;
    align-self: end; */
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1/ span 3;
    grid-row:1/ span 6;
    grid-area:2/2/3/4 ; */



}